<h1>New Container</h1>

<%= form_for :container, url: containers_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :parentFolder %><br>
    <%= f.text_field :parentFolder %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', containers_path %>
