
.container
  %h2
    Chemotion ELN - About

  %br/
  - Chemotion::Application.config.version.each do |k, v|
    - next if v.to_s == '0'
    %h4= "#{k.humanize}: #{v}"
  %br/
  %br/
  %span
    See
    = link_to "CHANGELOG.md", "https://github.com/ComPlat/chemotion_ELN/blob/main/CHANGELOG.md#v#{Chemotion::Application.config.version["version"]&.gsub(/\./,'')}"
    for more details.
  %br/
  %br/
  %br/



  = link_to "Back", root_path
