.container.my-5
  %h1.mb-3
    Change your profile

  .bg-light.p-5.rounded-lg.my-3
    .row
      = form_for @profile, url: pages_update_profiles_path do |f|
        .form-check.mb-3
          = f.check_box :show_external_name, autofocus: true, autocomplete: "off", class: 'form-check-input'
          = f.label :show_external_name, "Show external names on sample titles?", class: 'form-check-label'

        = f.submit "Change my profile", class: "btn btn-primary"

  = link_to "Back", root_path
