.container
  %br
  - flash.each do |key, value|
    %div{class: "alert alert-warning"}= value

  %br
  = render "devise/shared/omniauth"

  %hr

  = render "devise/shared/dblogin"
  = render "devise/shared/links"
  = link_to "Back", root_path
